:root {
    --cor-principal-dark-azul: #005ca9;
    --cor-principal-dark-laranja: #f57700;
    --cor-principal-light-branco: #ffffff;
    --cor-secundaria-light-azul: #277db6;
    --cor-sombra: #00000050;
    --font-principal: 'Inter', sans-serif;
}

body {
    display: block;
    color: var(--cor-principal-dark-azul);
    background-color: var(--cor-principal-light-branco);
    padding-top: 96px;
    @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@700&display=swap');
}

.cabecalho {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;  
}

.titulo_cabecalho {
    display: flex;
    color: var(--cor-principal-light-branco);
    background-color: var(--cor-principal-dark-azul);
    padding: 16px;
    font-family: var(--font-principal);
    font-size: 18px;
    }

#caixa {
    font-weight: bold;   
}
.menu_cabecalho{
    display: flex;
    background-color: var(--cor-secundaria-light-azul);
}

.btn_menu_cabecalho {
    color: var(--cor-principal-light-branco);
    background-color: var(--cor-secundaria-light-azul);
    padding: 16px;
    font-family: var(--font-principal);
    font-size: 14px;
    border: none;
    width: 100%;
    flex-grow: 1;
}

.btn_menu_cabecalho_apps{
    background-color: var(--cor-principal-light-branco);
    color: var(--cor-principal-dark-azul);
    font-weight: bold;
    border-top-right-radius: 8px;
    box-shadow: 2px -2px 2px var(--cor-sombra);
    margin-right: 8px;
}

.btn_menu_cabecalho_sites_e_redes_sociais{
    background-color: var(--cor-secundaria-light-azul);
    border-top-left-radius: 8px;
    /*box-shadow: -2px -2px 2px var(--cor-sombra);*/
}

.conteudo_principal{
    display: grid;
 }

.conteudo_principal_apps, .conteudo_principal_sites {
    display: flex;
    flex-wrap: wrap;
    margin: 24px;
    row-gap: 24px;
    column-gap: 8px;
    justify-content: space-between;
    align-items: flex-start;
}
    
.elemento_do_conteudo {
    display: flex;
}

.elemento_link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 62px;
}

.img_elemento_link {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.texto_elemento_link {
    font-family: var(--font-principal);
    color: var(--cor-principal-dark-azul);
    padding: 8px;
    font-size: 10px;
    text-align: center;
    
   
}