:root{
--cor-principal-dark-azul: #005ca9;
--cor-principal-dark-laranja: #f57700;
--cor-principal-light-branco:#ffffff;
--cor-secundaria-light-azul: #277db6;

--font-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    }

body{
    color: var(--cor-principal-dark-azul);
    background-color: var(--cor-principal-light-branco);
    @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@700&display=swap');
   }

.titulo {
    color: var(--cor-principal-light-branco);
    background-color: var(--cor-principal-dark-azul);
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

.paragrafo {
    color: var(--cor-principal-light-branco);
    background-color: var(--cor-principal-dark-laranja);
    padding: 1rem;
    font-family: 'Bungee Spice', cursive;
    font-size: 2rem;
}
 


