.menuDeNavegacao__barra__lista__item {
    align-items: center;
    color: var(--cor-principal-light-branco);
    background-color: var(--cor-principal-dark-azul);
    border: none;
    display: flex;
    flex-direction: column;
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight:lighter;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    text-decoration: none;
    transition: all .1s ease-in-out;
}
    
.menuDeNavegacao__barra__lista__item:hover {
    background: var(--cor-secundaria-light-azul);
    cursor: pointer;
}


.btn__inicio--ativo{font-weight: bold;}
.btn__perfil--ativo{font-weight: bold;}
.btn__procurar--ativo{font-weight: bold;}
.btn__comoUsar--ativo{font-weight: bold;}