.menuDeNavegacao__barra__lista__item {
    color: var(--cor-principal-light-branco);
    display: flex;
    font-family: var(--font-principal);
    font-size: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    transition: all .1s ease-in-out;
}

.menuDeNavegacao__barra__lista__item:hover {
    background: var(--cor-secundaria-light-azul);
    cursor: pointer;
}

/*teste: enviar para JS*/
.ativo {
    font-weight: bold;
}