.conteudoPrincipal__sites--ativo {
    align-items: flex-start;
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px;
    row-gap: 24px;
}

.conteudoPrincipal__sites--inativo {
    display: none;   
}


@media (min-width: 720px) {

    .conteudoPrincipal__sites--ativo {
        display: flex;
    }
}
