.conteudoPrincipal__comoUsar--ativo {
    align-items: center;
    background-image: linear-gradient(180deg, var(--cor-secundaria-light-azul) 0%, var(--cor-principal-light-branco) 100%);
    color: var(--cor-principal-light-branco);
    display: flex;
    flex-direction: column;
    font-family: var(--font-principal);
    height: 100vh;
    position: fixed;
    width: 100%;
}

.conteudoPrincipal__comoUsar--inativo {
    display: none;    
}

.conteudoPrincipal__comoUsar__titulo{
    display: flex;
    padding-top: 48px;
    font-size: 32px;
    font-weight: bold;
}