.conteudoPrincipal__elemento__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 62px;
    
    /**teste do botão abrir app*/
    border: none;
    background-color: var(--cor-principal-light-branco);
}

@media (min-width: 720px) {
    
    .conteudoPrincipal__elemento__link {
        width: 124px;
    }
}